<div *ngFor="let item of bio" >
<mat-card class="card-margin">
  <mat-card-content>
    <div fxLayout="row wrap" >
      <div fxFlex="O O 25%"
        fxFlex.sm="0 0 30%"
        fxFlex.xs="0 0 100%"
        class="avatar">
        <img style="max-width: 200px;" src="assets/perfil.jpg"/>
      </div>
      <div fxFlex="O O 75%"
        fxFlexOffset="5%"
        fxFlex.sm="0 0 65%"
        fxFlexOffset.sm="5%"
        fxFlex.xs="0 0 100%"
        fxFlexOffset.xs="0">
        <h1>test</h1>
        <h2 style="font-size: 18px; text-align: left; color: #444444" [innerHTML] ="item.bio"></h2>
        <div></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>

